<h1 style="
    font-family: Arial, Helvetica;
    text-align:center;
">Confirma tu cuenta</h1>

<p style="font-family: Arial, Helvetica;">Hola, estás a un paso de comenzar a crear tu comunidad en Meeti, sólo debes confirmar tu mail en el siguiente enlace</p>

<a style="
    display: block;
    font-family: Arial, Helvetica;
    padding: 1rem;
    background-color: #00C897;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    " href="<%= url %>">Confirma tu cuenta</a>

<p style="font-family: Arial, Helvetica;">Si no puedes acceder a este enlace visita: <%= url %></p>

<p style="font-family: Arial, Helvetica;">Si no solicitaste este correo puedes ignorarlo.</p>